# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Loading the Data and Selecting the Features

### Import Data

In [2]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0, low_memory=False)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0,  low_memory=False)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0, low_memory=False)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0,  low_memory=False)

### Explore Data

In [3]:
loan_data_inputs_train.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
431128,431128,12565323,14577475,4500,4500,4500.00,36 months,10.99,147.31,B,...,0,0,0,1,0,0,0,0,0,0
413015,413015,13617819,15670114,25000,25000,25000.00,60 months,18.92,647.42,D,...,0,0,0,1,0,0,0,0,0,0
90236,90236,7275417,8917525,17000,17000,17000.00,60 months,24.99,498.88,F,...,0,1,0,1,0,0,0,0,0,0
122060,122060,5975009,7447154,16000,16000,16000.00,36 months,13.05,539.49,B,...,0,0,0,1,0,0,0,0,0,0
41491,41491,352357,355394,1500,1100,341.89,36 months,10.64,35.83,B,...,0,0,0,1,0,0,0,0,0,0

In [4]:
loan_data_targets_train.head()

        good_bad
431128         1
413015         1
90236          1
122060         1
41491          1

In [5]:
loan_data_inputs_train.shape

(373004, 324)

In [6]:
loan_data_targets_train.shape

(373004, 1)

In [7]:
loan_data_inputs_test.shape

(93252, 324)

In [8]:
loan_data_targets_test.shape

(93252, 1)

### Selecting the Features

In [9]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86',
]]

In [10]:
# Here we store the names of the reference category dummy variables in a list.
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [11]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
431128,False,True,False,False,False,False,False,True,0,False,...,0,0,1,0,1,0,0,0,0,0
413015,False,False,False,True,False,False,False,False,1,False,...,1,0,0,0,1,0,0,0,0,0
90236,False,False,False,False,False,True,False,True,0,False,...,0,1,0,0,1,0,0,0,0,0
122060,False,True,False,False,False,False,False,False,0,False,...,0,1,0,0,1,0,0,0,0,0
41491,False,True,False,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0

# PD Model Estimation

## Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [13]:
reg = LogisticRegression()
# We create an instance of an object from the 'LogisticRegression' class.

In [14]:
pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [15]:
reg.fit(inputs_train, loan_data_targets_train)
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.

f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
reg.intercept_
# Displays the intercept contain in the estimated ("fitted") object from the 'LogisticRegression' class.

array([-1.40703316])

In [17]:
reg.coef_
# Displays the coefficients contained in the estimated ("fitted") object from the 'LogisticRegression' class.

array([[ 1.09294644e+00,  8.59977501e-01,  6.62230494e-01,
         4.80972470e-01,  3.16396664e-01,  1.63005293e-01,
         7.22245120e-02,  1.09199320e-01,  5.17106578e-02,
         6.31831309e-02,  6.96049774e-02,  7.75255570e-02,
         7.92945822e-02,  1.48318889e-01,  1.20015105e-01,
         1.77973785e-01,  2.71360688e-01,  2.62822652e-01,
         2.89539879e-01,  3.43727864e-01,  5.24350854e-01,
         8.78158561e-02, -1.23341014e-02,  3.25582526e-01,
         2.00626057e-01,  2.20152280e-01,  2.88127818e-01,
         4.97652481e-02,  7.71121379e-02,  1.13625160e-01,
         1.37521480e-01,  1.03203136e-01,  7.37578350e-02,
         1.36064062e-01,  1.11058253e+00,  8.82459090e-01,
         8.02985783e-01,  5.65143984e-01,  4.20327251e-01,
         1.75713639e-01, -7.95431865e-02,  9.32349400e-01,
         5.84875694e-01,  3.29795864e-01,  1.22597942e-01,
         6.21055347e-02,  3.48654808e-02,  6.71528525e-02,
         1.16961727e-01,  1.12108216e-01,  8.44326567e-02,
         5.98122585e-02,  6.23262132e-01,  4.79721139e-01,
         2.84198492e-01, -6.07432854e-02, -1.40919044e-01,
        -1.58935061e-01, -1.76317438e-01, -1.44976036e-01,
        -2.36456018e-01, -1.81891061e-01,  1.36273776e-02,
         4.44545594e-02, -3.81287283e-02, -9.12470630e-03,
         1.60869024e-01,  2.22575462e-02,  8.22046656e-03,
         1.08610706e-02,  4.99021573e-04,  5.42281056e-02,
         6.36852041e-02,  1.93819542e-01, -4.01428616e-02,
         3.01654598e-02,  1.30543915e-01,  1.86483780e-01,
         2.81100006e-01,  3.40577049e-01,  4.09074225e-01,
         4.53872399e-01,  5.11324604e-01,  6.04205867e-01,
         5.40900820e-01,  2.63425997e-01,  3.94950865e-01,
         3.99858514e-01,  3.46174716e-01,  2.79395534e-01,
         1.86654474e-01,  1.83304521e-01,  1.39002159e-01,
         8.18066112e-02,  6.01263037e-02,  1.30210962e-01,
         1.29893634e-01,  9.69145809e-02,  3.77622331e-01,
         4.32079423e-01,  4.51689200e-01,  5.99294759e-01,
         2.90970155e-01,  2.77866420e-01]])

In [18]:
feature_name = inputs_train.columns.values
# Stores the names of the columns of a dataframe in a variable.

In [19]:
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
# Creates a dataframe with a column titled 'Feature name' and row values contained in the 'feature_name' variable.
summary_table['Coefficients'] = np.transpose(reg.coef_)
# Creates a new column in the dataframe, called 'Coefficients',
# with row values the transposed coefficients from the 'LogisticRegression' object.
summary_table.index = summary_table.index + 1
# Increases the index of every row of the dataframe with 1.
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
# Assigns values of the row with index 0 of the dataframe.
summary_table = summary_table.sort_index()
# Sorts the dataframe by index.
summary_table

                            Feature name  Coefficients
0                              Intercept     -1.407033
1                                grade:A      1.092946
2                                grade:B      0.859978
3                                grade:C      0.662230
4                                grade:D      0.480972
5                                grade:E      0.316397
6                                grade:F      0.163005
7                     home_ownership:OWN      0.072225
8                home_ownership:MORTGAGE      0.109199
9                       addr_state:NM_VA      0.051711
10                         addr_state:NY      0.063183
11          addr_state:OK_TN_MO_LA_MD_NC      0.069605
12                         addr_state:CA      0.077526
13                addr_state:UT_KY_AZ_NJ      0.079295
14             addr_state:AR_MI_PA_OH_MN      0.148319
15             addr_state:RI_MA_DE_SD_IN      0.120015
16                   addr_state:GA_WA_OR      0.177974
17                      addr_state:WI_MT      0.271361
18                         addr_state:TX      0.262823
19                      addr_state:IL_CT      0.289540
20          addr_state:KS_SC_CO_VT_AK_MS      0.343728
21          addr_state:WV_NH_WY_DC_ME_ID      0.524351
22      verification_status:Not Verified      0.087816
23   verification_status:Source Verified     -0.012334
24                   purpose:credit_card      0.325583
25            purpose:debt_consolidation      0.200626
26            purpose:oth__med__vacation      0.220152
27   purpose:major_purch__car__home_impr      0.288128
28                 initial_list_status:w      0.049765
29                               term:36      0.077112
30                          emp_length:1      0.113625
31                        emp_length:2-4      0.137521
32                        emp_length:5-6      0.103203
33                        emp_length:7-9      0.073758
34                         emp_length:10      0.136064
35                mths_since_issue_d:<38      1.110583
36              mths_since_issue_d:38-39      0.882459
37              mths_since_issue_d:40-41      0.802986
38              mths_since_issue_d:42-48      0.565144
39              mths_since_issue_d:49-52      0.420327
40              mths_since_issue_d:53-64      0.175714
41              mths_since_issue_d:65-84     -0.079543
42                       int_rate:<9.548      0.932349
43                 int_rate:9.548-12.025      0.584876
44                 int_rate:12.025-15.74      0.329796
45                 int_rate:15.74-20.281      0.122598
46   mths_since_earliest_cr_line:141-164      0.062106
47   mths_since_earliest_cr_line:165-247      0.034865
48   mths_since_earliest_cr_line:248-270      0.067153
49   mths_since_earliest_cr_line:271-352      0.116962
50      mths_since_earliest_cr_line:>352      0.112108
51                         delinq_2yrs:0      0.084433
52                       delinq_2yrs:1-3      0.059812
53                      inq_last_6mths:0      0.623262
54                    inq_last_6mths:1-2      0.479721
55                    inq_last_6mths:3-6      0.284198
56                          open_acc:1-3     -0.060743
57                         open_acc:4-12     -0.140919
58                        open_acc:13-17     -0.158935
59                        open_acc:18-22     -0.176317
60                        open_acc:23-25     -0.144976
61                        open_acc:26-30     -0.236456
62                         open_acc:>=31     -0.181891
63                           pub_rec:3-4      0.013627
64                           pub_rec:>=5      0.044455
65                       total_acc:28-51     -0.038129
66                        total_acc:>=52     -0.009125
67                    acc_now_delinq:>=1      0.160869
68               total_rev_hi_lim:5K-10K      0.022258
69              total_rev_hi_lim:10K-20K      0.008220
70              total_rev_hi_lim:20K-30K      0.010861
71              total_rev_hi_lim:30K-40K      0.000499
72              total_rev_hi_lim:40K-55K      0.054228
73              total_rev_hi_lim:55K-95K      0.063685
74                 total_rev_hi_lim:>95K      0.193820
75                    annual_inc:20K-30K     -0.040143
76                    annual_inc:30K-40K      0.030165
77                    annual_inc:40K-50K      0.130544
78                    annual_inc:50K-60K      0.186484
79                    annual_inc:60K-70K      0.281100
80                    annual_inc:70K-80K      0.340577
81                    annual_inc:80K-90K      0.409074
82                   annual_inc:90K-100K      0.453872
83                  annual_inc:100K-120K      0.511325
84                  annual_inc:120K-140K      0.604206
85                      annual_inc:>140K      0.540901
86                             dti:<=1.4      0.263426
87                           dti:1.4-3.5      0.394951
88                           dti:3.5-7.7      0.399859
89                          dti:7.7-10.5      0.346175
90                         dti:10.5-16.1      0.279396
91                         dti:16.1-20.3      0.186654
92                         dti:20.3-21.7      0.183305
93                         dti:21.7-22.4      0.139002
94                           dti:22.4-35      0.081807
95        mths_since_last_delinq:Missing      0.060126
96           mths_since_last_delinq:4-30      0.130211
97          mths_since_last_delinq:31-56      0.129894
98           mths_since_last_delinq:>=57      0.096915
99        mths_since_last_record:Missing      0.377622
100          mths_since_last_record:3-20      0.432079
101         mths_since_last_record:21-31      0.451689
102         mths_since_last_record:32-80      0.599295
103         mths_since_last_record:81-86      0.290970
104           mths_since_last_record:>86      0.277866