# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Loading the Data and Selecting the Features

### Import Data

In [2]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0, low_memory=False)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0,  low_memory=False)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0, low_memory=False)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0,  low_memory=False)

### Explore Data

In [3]:
loan_data_inputs_train.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
431128,431128,12565323,14577475,4500,4500,4500.00,36 months,10.99,147.31,B,...,0,0,0,1,0,0,0,0,0,0
413015,413015,13617819,15670114,25000,25000,25000.00,60 months,18.92,647.42,D,...,0,0,0,1,0,0,0,0,0,0
90236,90236,7275417,8917525,17000,17000,17000.00,60 months,24.99,498.88,F,...,0,1,0,1,0,0,0,0,0,0
122060,122060,5975009,7447154,16000,16000,16000.00,36 months,13.05,539.49,B,...,0,0,0,1,0,0,0,0,0,0
41491,41491,352357,355394,1500,1100,341.89,36 months,10.64,35.83,B,...,0,0,0,1,0,0,0,0,0,0

In [4]:
loan_data_targets_train.head()

        good_bad
431128         1
413015         1
90236          1
122060         1
41491          1

In [5]:
loan_data_inputs_train.shape

(373004, 324)

In [6]:
loan_data_targets_train.shape

(373004, 1)

In [7]:
loan_data_inputs_test.shape

(93252, 324)

In [8]:
loan_data_targets_test.shape

(93252, 1)

### Selecting the Features

In [9]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86',
]]

In [10]:
# Here we store the names of the reference category dummy variables in a list.
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [11]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
431128,False,True,False,False,False,False,False,True,0,False,...,0,0,1,0,1,0,0,0,0,0
413015,False,False,False,True,False,False,False,False,1,False,...,1,0,0,0,1,0,0,0,0,0
90236,False,False,False,False,False,True,False,True,0,False,...,0,1,0,0,1,0,0,0,0,0
122060,False,True,False,False,False,False,False,False,0,False,...,0,1,0,0,1,0,0,0,0,0
41491,False,True,False,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0

# PD Model Estimation

## Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [13]:
reg = LogisticRegression()
# We create an instance of an object from the 'LogisticRegression' class.

In [14]:
pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [15]:
reg.fit(inputs_train, loan_data_targets_train)
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.

f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
reg.intercept_
# Displays the intercept contain in the estimated ("fitted") object from the 'LogisticRegression' class.

array([-1.40703316])

In [17]:
reg.coef_
# Displays the coefficients contained in the estimated ("fitted") object from the 'LogisticRegression' class.

array([[ 1.09294644e+00,  8.59977501e-01,  6.62230494e-01,
         4.80972470e-01,  3.16396664e-01,  1.63005293e-01,
         7.22245120e-02,  1.09199320e-01,  5.17106578e-02,
         6.31831309e-02,  6.96049774e-02,  7.75255570e-02,
         7.92945822e-02,  1.48318889e-01,  1.20015105e-01,
         1.77973785e-01,  2.71360688e-01,  2.62822652e-01,
         2.89539879e-01,  3.43727864e-01,  5.24350854e-01,
         8.78158561e-02, -1.23341014e-02,  3.25582526e-01,
         2.00626057e-01,  2.20152280e-01,  2.88127818e-01,
         4.97652481e-02,  7.71121379e-02,  1.13625160e-01,
         1.37521480e-01,  1.03203136e-01,  7.37578350e-02,
         1.36064062e-01,  1.11058253e+00,  8.82459090e-01,
         8.02985783e-01,  5.65143984e-01,  4.20327251e-01,
         1.75713639e-01, -7.95431865e-02,  9.32349400e-01,
         5.84875694e-01,  3.29795864e-01,  1.22597942e-01,
         6.21055347e-02,  3.48654808e-02,  6.71528525e-02,
         1.16961727e-01,  1.12108216e-01,  8.44326567e-02,
         5.98122585e-02,  6.23262132e-01,  4.79721139e-01,
         2.84198492e-01, -6.07432854e-02, -1.40919044e-01,
        -1.58935061e-01, -1.76317438e-01, -1.44976036e-01,
        -2.36456018e-01, -1.81891061e-01,  1.36273776e-02,
         4.44545594e-02, -3.81287283e-02, -9.12470630e-03,
         1.60869024e-01,  2.22575462e-02,  8.22046656e-03,
         1.08610706e-02,  4.99021573e-04,  5.42281056e-02,
         6.36852041e-02,  1.93819542e-01, -4.01428616e-02,
         3.01654598e-02,  1.30543915e-01,  1.86483780e-01,
         2.81100006e-01,  3.40577049e-01,  4.09074225e-01,
         4.53872399e-01,  5.11324604e-01,  6.04205867e-01,
         5.40900820e-01,  2.63425997e-01,  3.94950865e-01,
         3.99858514e-01,  3.46174716e-01,  2.79395534e-01,
         1.86654474e-01,  1.83304521e-01,  1.39002159e-01,
         8.18066112e-02,  6.01263037e-02,  1.30210962e-01,
         1.29893634e-01,  9.69145809e-02,  3.77622331e-01,
         4.32079423e-01,  4.51689200e-01,  5.99294759e-01,
         2.90970155e-01,  2.77866420e-01]])

In [18]:
feature_name = inputs_train.columns.values
# Stores the names of the columns of a dataframe in a variable.

In [19]:
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
# Creates a dataframe with a column titled 'Feature name' and row values contained in the 'feature_name' variable.
summary_table['Coefficients'] = np.transpose(reg.coef_)
# Creates a new column in the dataframe, called 'Coefficients',
# with row values the transposed coefficients from the 'LogisticRegression' object.
summary_table.index = summary_table.index + 1
# Increases the index of every row of the dataframe with 1.
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
# Assigns values of the row with index 0 of the dataframe.
summary_table = summary_table.sort_index()
# Sorts the dataframe by index.
summary_table

                            Feature name  Coefficients
0                              Intercept     -1.407033
1                                grade:A      1.092946
2                                grade:B      0.859978
3                                grade:C      0.662230
4                                grade:D      0.480972
5                                grade:E      0.316397
6                                grade:F      0.163005
7                     home_ownership:OWN      0.072225
8                home_ownership:MORTGAGE      0.109199
9                       addr_state:NM_VA      0.051711
10                         addr_state:NY      0.063183
11          addr_state:OK_TN_MO_LA_MD_NC      0.069605
12                         addr_state:CA      0.077526
13                addr_state:UT_KY_AZ_NJ      0.079295
14             addr_state:AR_MI_PA_OH_MN      0.148319
15             addr_state:RI_MA_DE_SD_IN      0.120015
16                   addr_state:GA_WA_OR      0.177974
17                      addr_state:WI_MT      0.271361
18                         addr_state:TX      0.262823
19                      addr_state:IL_CT      0.289540
20          addr_state:KS_SC_CO_VT_AK_MS      0.343728
21          addr_state:WV_NH_WY_DC_ME_ID      0.524351
22      verification_status:Not Verified      0.087816
23   verification_status:Source Verified     -0.012334
24                   purpose:credit_card      0.325583
25            purpose:debt_consolidation      0.200626
26            purpose:oth__med__vacation      0.220152
27   purpose:major_purch__car__home_impr      0.288128
28                 initial_list_status:w      0.049765
29                               term:36      0.077112
30                          emp_length:1      0.113625
31                        emp_length:2-4      0.137521
32                        emp_length:5-6      0.103203
33                        emp_length:7-9      0.073758
34                         emp_length:10      0.136064
35                mths_since_issue_d:<38      1.110583
36              mths_since_issue_d:38-39      0.882459
37              mths_since_issue_d:40-41      0.802986
38              mths_since_issue_d:42-48      0.565144
39              mths_since_issue_d:49-52      0.420327
40              mths_since_issue_d:53-64      0.175714
41              mths_since_issue_d:65-84     -0.079543
42                       int_rate:<9.548      0.932349
43                 int_rate:9.548-12.025      0.584876
44                 int_rate:12.025-15.74      0.329796
45                 int_rate:15.74-20.281      0.122598
46   mths_since_earliest_cr_line:141-164      0.062106
47   mths_since_earliest_cr_line:165-247      0.034865
48   mths_since_earliest_cr_line:248-270      0.067153
49   mths_since_earliest_cr_line:271-352      0.116962
50      mths_since_earliest_cr_line:>352      0.112108
51                         delinq_2yrs:0      0.084433
52                       delinq_2yrs:1-3      0.059812
53                      inq_last_6mths:0      0.623262
54                    inq_last_6mths:1-2      0.479721
55                    inq_last_6mths:3-6      0.284198
56                          open_acc:1-3     -0.060743
57                         open_acc:4-12     -0.140919
58                        open_acc:13-17     -0.158935
59                        open_acc:18-22     -0.176317
60                        open_acc:23-25     -0.144976
61                        open_acc:26-30     -0.236456
62                         open_acc:>=31     -0.181891
63                           pub_rec:3-4      0.013627
64                           pub_rec:>=5      0.044455
65                       total_acc:28-51     -0.038129
66                        total_acc:>=52     -0.009125
67                    acc_now_delinq:>=1      0.160869
68               total_rev_hi_lim:5K-10K      0.022258
69              total_rev_hi_lim:10K-20K      0.008220
70              total_rev_hi_lim:20K-30K      0.010861
71              total_rev_hi_lim:30K-40K      0.000499
72              total_rev_hi_lim:40K-55K      0.054228
73              total_rev_hi_lim:55K-95K      0.063685
74                 total_rev_hi_lim:>95K      0.193820
75                    annual_inc:20K-30K     -0.040143
76                    annual_inc:30K-40K      0.030165
77                    annual_inc:40K-50K      0.130544
78                    annual_inc:50K-60K      0.186484
79                    annual_inc:60K-70K      0.281100
80                    annual_inc:70K-80K      0.340577
81                    annual_inc:80K-90K      0.409074
82                   annual_inc:90K-100K      0.453872
83                  annual_inc:100K-120K      0.511325
84                  annual_inc:120K-140K      0.604206
85                      annual_inc:>140K      0.540901
86                             dti:<=1.4      0.263426
87                           dti:1.4-3.5      0.394951
88                           dti:3.5-7.7      0.399859
89                          dti:7.7-10.5      0.346175
90                         dti:10.5-16.1      0.279396
91                         dti:16.1-20.3      0.186654
92                         dti:20.3-21.7      0.183305
93                         dti:21.7-22.4      0.139002
94                           dti:22.4-35      0.081807
95        mths_since_last_delinq:Missing      0.060126
96           mths_since_last_delinq:4-30      0.130211
97          mths_since_last_delinq:31-56      0.129894
98           mths_since_last_delinq:>=57      0.096915
99        mths_since_last_record:Missing      0.377622
100          mths_since_last_record:3-20      0.432079
101         mths_since_last_record:21-31      0.451689
102         mths_since_last_record:32-80      0.599295
103         mths_since_last_record:81-86      0.290970
104           mths_since_last_record:>86      0.277866

## Build a Logistic Regression Model with P-Values

In [20]:
# P values for sklearn logistic regression.

# Class to display p-values for logistic regression in sklearn.

from sklearn import linear_model
import scipy.stats as stat

class LogisticRegression_with_p_values:
    
    def __init__(self,*args,**kwargs):#,**kwargs):
        self.model = linear_model.LogisticRegression(*args,**kwargs)#,**args)

    def fit(self,X,y):
        self.model.fit(X,y)
        
        #### Get p-values for the fitted model ####
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom,(X.shape[1],1)).T
        F_ij = np.dot((X.astype(np.float64) / denom).T, X.astype(np.float64))  # Ensure X is of dtype float64
        Cramer_Rao = np.linalg.inv(F_ij)
        # F_ij = np.dot((X / denom).T,X) ## Fisher Information Matrix
        # Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates # z-score for eaach model coefficient
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores] ### two tailed test for p-values
        
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [21]:
reg = LogisticRegression_with_p_values()
# We create an instance of an object from the newly created 'LogisticRegression_with_p_values()' class.

In [22]:
pd.set_option('display.max_rows', None)

In [23]:
reg.fit(inputs_train, loan_data_targets_train)
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.

f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\anaconda3\envs\Udemycreditriskmodel\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [24]:
# Same as above.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

                            Feature name  Coefficients
0                              Intercept     -1.407033
1                                grade:A      1.092946
2                                grade:B      0.859978
3                                grade:C      0.662230
4                                grade:D      0.480972
5                                grade:E      0.316397
6                                grade:F      0.163005
7                     home_ownership:OWN      0.072225
8                home_ownership:MORTGAGE      0.109199
9                       addr_state:NM_VA      0.051711
10                         addr_state:NY      0.063183
11          addr_state:OK_TN_MO_LA_MD_NC      0.069605
12                         addr_state:CA      0.077526
13                addr_state:UT_KY_AZ_NJ      0.079295
14             addr_state:AR_MI_PA_OH_MN      0.148319
15             addr_state:RI_MA_DE_SD_IN      0.120015
16                   addr_state:GA_WA_OR      0.177974
17                      addr_state:WI_MT      0.271361
18                         addr_state:TX      0.262823
19                      addr_state:IL_CT      0.289540
20          addr_state:KS_SC_CO_VT_AK_MS      0.343728
21          addr_state:WV_NH_WY_DC_ME_ID      0.524351
22      verification_status:Not Verified      0.087816
23   verification_status:Source Verified     -0.012334
24                   purpose:credit_card      0.325583
25            purpose:debt_consolidation      0.200626
26            purpose:oth__med__vacation      0.220152
27   purpose:major_purch__car__home_impr      0.288128
28                 initial_list_status:w      0.049765
29                               term:36      0.077112
30                          emp_length:1      0.113625
31                        emp_length:2-4      0.137521
32                        emp_length:5-6      0.103203
33                        emp_length:7-9      0.073758
34                         emp_length:10      0.136064
35                mths_since_issue_d:<38      1.110583
36              mths_since_issue_d:38-39      0.882459
37              mths_since_issue_d:40-41      0.802986
38              mths_since_issue_d:42-48      0.565144
39              mths_since_issue_d:49-52      0.420327
40              mths_since_issue_d:53-64      0.175714
41              mths_since_issue_d:65-84     -0.079543
42                       int_rate:<9.548      0.932349
43                 int_rate:9.548-12.025      0.584876
44                 int_rate:12.025-15.74      0.329796
45                 int_rate:15.74-20.281      0.122598
46   mths_since_earliest_cr_line:141-164      0.062106
47   mths_since_earliest_cr_line:165-247      0.034865
48   mths_since_earliest_cr_line:248-270      0.067153
49   mths_since_earliest_cr_line:271-352      0.116962
50      mths_since_earliest_cr_line:>352      0.112108
51                         delinq_2yrs:0      0.084433
52                       delinq_2yrs:1-3      0.059812
53                      inq_last_6mths:0      0.623262
54                    inq_last_6mths:1-2      0.479721
55                    inq_last_6mths:3-6      0.284198
56                          open_acc:1-3     -0.060743
57                         open_acc:4-12     -0.140919
58                        open_acc:13-17     -0.158935
59                        open_acc:18-22     -0.176317
60                        open_acc:23-25     -0.144976
61                        open_acc:26-30     -0.236456
62                         open_acc:>=31     -0.181891
63                           pub_rec:3-4      0.013627
64                           pub_rec:>=5      0.044455
65                       total_acc:28-51     -0.038129
66                        total_acc:>=52     -0.009125
67                    acc_now_delinq:>=1      0.160869
68               total_rev_hi_lim:5K-10K      0.022258
69              total_rev_hi_lim:10K-20K      0.008220
70              total_rev_hi_lim:20K-30K      0.010861
71              total_rev_hi_lim:30K-40K      0.000499
72              total_rev_hi_lim:40K-55K      0.054228
73              total_rev_hi_lim:55K-95K      0.063685
74                 total_rev_hi_lim:>95K      0.193820
75                    annual_inc:20K-30K     -0.040143
76                    annual_inc:30K-40K      0.030165
77                    annual_inc:40K-50K      0.130544
78                    annual_inc:50K-60K      0.186484
79                    annual_inc:60K-70K      0.281100
80                    annual_inc:70K-80K      0.340577
81                    annual_inc:80K-90K      0.409074
82                   annual_inc:90K-100K      0.453872
83                  annual_inc:100K-120K      0.511325
84                  annual_inc:120K-140K      0.604206
85                      annual_inc:>140K      0.540901
86                             dti:<=1.4      0.263426
87                           dti:1.4-3.5      0.394951
88                           dti:3.5-7.7      0.399859
89                          dti:7.7-10.5      0.346175
90                         dti:10.5-16.1      0.279396
91                         dti:16.1-20.3      0.186654
92                         dti:20.3-21.7      0.183305
93                         dti:21.7-22.4      0.139002
94                           dti:22.4-35      0.081807
95        mths_since_last_delinq:Missing      0.060126
96           mths_since_last_delinq:4-30      0.130211
97          mths_since_last_delinq:31-56      0.129894
98           mths_since_last_delinq:>=57      0.096915
99        mths_since_last_record:Missing      0.377622
100          mths_since_last_record:3-20      0.432079
101         mths_since_last_record:21-31      0.451689
102         mths_since_last_record:32-80      0.599295
103         mths_since_last_record:81-86      0.290970
104           mths_since_last_record:>86      0.277866

In [25]:
# This is a list.
p_values = reg.p_values
# We take the result of the newly added method 'p_values' and store it in a variable 'p_values'.

In [26]:
# Add the intercept for completeness.
p_values = np.append(np.nan, np.array(p_values))
# We add the value 'NaN' in the beginning of the variable with p-values.

In [27]:
summary_table['p_values'] = p_values
# In the 'summary_table' dataframe, we add a new column, called 'p_values', containing the values from the 'p_values' variable.

In [28]:
summary_table['significant'] = np.where(summary_table['p_values'] < 0.05, 'True', 'False')
summary_table.sample(5)

                     Feature name  Coefficients      p_values significant
59                 open_acc:18-22     -0.176317  2.931093e-01       False
92                  dti:20.3-21.7      0.183305  4.773954e-03        True
65                total_acc:28-51     -0.038129  7.258610e-03        True
101  mths_since_last_record:21-31      0.451689  1.169640e-04        True
14      addr_state:AR_MI_PA_OH_MN      0.148319  4.182869e-11        True

In [29]:
# Extract the characters before ':' and group by them
summary_table['Group'] = summary_table['Feature name'].str.split(':').str[0]
summary_table.sample(5)

,Feature name,Coefficients,p_values,significant,Group
101,mths_since_last_record:21-31,0.451689,1.169640e-04,True,mths_since_last_record
92,dti:20.3-21.7,0.183305,4.773954e-03,True,dti
43,int_rate:9.548-12.025,0.584876,9.782399e-39,True,int_rate
68,total_rev_hi_lim:5K-10K,0.022258,3.651490e-01,False,total_rev_hi_lim
30,emp_length:1,0.113625,1.210026e-05,True,emp_length

In [30]:
# Count the 'True' values for each group
group_counts = summary_table.groupby('Group')['significant'].sum().reset_index()
group_counts.sample(5)

                     Group                   significant
9      initial_list_status                          True
13      mths_since_issue_d  TrueTrueTrueTrueTrueTrueTrue
15  mths_since_last_record      TrueTrueTrueTrueTrueTrue
17                 pub_rec                    FalseFalse
19                    term                          True

In [31]:
group_counts['trueornot'] = np.where(group_counts['significant'].str.contains('True'), 1 ,0)
group_counts.sample(5)

         Group                                        significant  trueornot
16    open_acc                FalseFalseFalseFalseFalseFalseFalse          0
19        term                                               True          1
2   addr_state  FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...          1
3   annual_inc     FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue          1
11    int_rate                                   TrueTrueTrueTrue          1

In [32]:
summary_tab = summary_table.merge(group_counts, left_on='Group', right_on='Group', how='left')
summary_tab.sample(5)

,Feature name,Coefficients,p_values,significant_x,Group,significant_y,trueornot
29,term:36,0.077112,5.515378e-08,True,term,True,1
12,addr_state:CA,0.077526,2.550490e-04,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
86,dti:<=1.4,0.263426,2.906226e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
91,dti:16.1-20.3,0.186654,2.825002e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
31,emp_length:2-4,0.137521,2.900340e-13,True,emp_length,TrueTrueTrueTrueTrue,1

In [33]:
# summary_tab.drop(columns=['significant_y'], inplace=True)
summary_tab.rename(columns={'significant_x':'significant'}, inplace = True)

In [34]:
summary_tab

,Feature name,Coefficients,p_values,significant,Group,significant_y,trueornot
0,Intercept,-1.407033,NaN,False,Intercept,False,0
1,grade:A,1.092946,7.785961e-33,True,grade,TrueTrueTrueTrueTrueTrue,1
2,grade:B,0.859978,9.170083e-45,True,grade,TrueTrueTrueTrueTrueTrue,1
3,grade:C,0.662230,2.132510e-31,True,grade,TrueTrueTrueTrueTrueTrue,1
4,grade:D,0.480972,5.205226e-19,True,grade,TrueTrueTrueTrueTrueTrue,1
5,grade:E,0.316397,5.820160e-11,True,grade,TrueTrueTrueTrueTrueTrue,1
6,grade:F,0.163005,1.231920e-03,True,grade,TrueTrueTrueTrueTrueTrue,1
7,home_ownership:OWN,0.072225,3.171764e-04,True,home_ownership,TrueTrue,1
8,home_ownership:MORTGAGE,0.109199,8.724547e-18,True,home_ownership,TrueTrue,1
9,addr_state:NM_VA,0.051711,1.060834e-01,False,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
10,addr_state:NY,0.063183,9.079017e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
11,addr_state:OK_TN_MO_LA_MD_NC,0.069605,2.658804e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
12,addr_state:CA,0.077526,2.550490e-04,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
13,addr_state:UT_KY_AZ_NJ,0.079295,1.425325e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
14,addr_state:AR_MI_PA_OH_MN,0.148319,4.182869e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
15,addr_state:RI_MA_DE_SD_IN,0.120015,6.175449e-05,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
16,addr_state:GA_WA_OR,0.177974,1.977835e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
17,addr_state:WI_MT,0.271361,1.500441e-08,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
18,addr_state:TX,0.262823,7.205242e-24,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
19,addr_state:IL_CT,0.289540,5.981634e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
20,addr_state:KS_SC_CO_VT_AK_MS,0.343728,1.204758e-28,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
21,addr_state:WV_NH_WY_DC_ME_ID,0.524351,8.603594e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1
22,verification_status:Not Verified,0.087816,2.368430e-09,True,verification_status,TrueFalse,1
23,verification_status:Source Verified,-0.012334,3.597621e-01,False,verification_status,TrueFalse,1
24,purpose:credit_card,0.325583,2.745944e-30,True,purpose,TrueTrueTrueTrue,1
25,purpose:debt_consolidation,0.200626,1.728747e-14,True,purpose,TrueTrueTrueTrue,1
26,purpose:oth__med__vacation,0.220152,1.758552e-12,True,purpose,TrueTrueTrueTrue,1
27,purpose:major_purch__car__home_impr,0.288128,4.675274e-20,True,purpose,TrueTrueTrueTrue,1
28,initial_list_status:w,0.049765,1.381458e-04,True,initial_list_status,True,1
29,term:36,0.077112,5.515378e-08,True,term,True,1
30,emp_length:1,0.113625,1.210026e-05,True,emp_length,TrueTrueTrueTrueTrue,1
31,emp_length:2-4,0.137521,2.900340e-13,True,emp_length,TrueTrueTrueTrueTrue,1
32,emp_length:5-6,0.103203,1.387274e-06,True,emp_length,TrueTrueTrueTrueTrue,1
33,emp_length:7-9,0.073758,3.826367e-04,True,emp_length,TrueTrueTrueTrueTrue,1
34,emp_length:10,0.136064,1.388949e-13,True,emp_length,TrueTrueTrueTrueTrue,1
35,mths_since_issue_d:<38,1.110583,1.819210e-180,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
36,mths_since_issue_d:38-39,0.882459,4.915256e-143,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
37,mths_since_issue_d:40-41,0.802986,9.254598e-124,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
38,mths_since_issue_d:42-48,0.565144,6.699317e-79,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
39,mths_since_issue_d:49-52,0.420327,2.319816e-39,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
40,mths_since_issue_d:53-64,0.175714,5.640374e-09,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
41,mths_since_issue_d:65-84,-0.079543,6.706872e-03,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1
42,int_rate:<9.548,0.932349,9.911929e-34,True,int_rate,TrueTrueTrueTrue,1
43,int_rate:9.548-12.025,0.584876,9.782399e-39,True,int_rate,TrueTrueTrueTrue,1
44,int_rate:12.025-15.74,0.329796,4.209362e-19,True,int_rate,TrueTrueTrueTrue,1
45,int_rate:15.74-20.281,0.122598,2.568868e-05,True,int_rate,TrueTrueTrueTrue,1
46,mths_since_earliest_cr_line:141-164,0.062106,1.386538e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1
47,mths_since_earliest_cr_line:165-247,0.034865,9.158518e-02,False,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1
48,mths_since_earliest_cr_line:248-270,0.067153,1.234102e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1
49,mths_since_earliest_cr_line:271-352,0.116962,1.375655e-06,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1
50,mths_since_earliest_cr_line:>352,0.112108,3.699927e-05,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1
51,delinq_2yrs:0,0.084433,1.366463e-01,False,delinq_2yrs,FalseFalse,0
52,delinq_2yrs:1-3,0.059812,2.615922e-01,False,delinq_2yrs,FalseFalse,0
53,inq_last_6mths:0,0.623262,1.012934e-07,True,inq_last_6mths,TrueTrueTrue,1
54,inq_last_6mths:1-2,0.479721,4.054352e-05,True,inq_last_6mths,TrueTrueTrue,1
55,inq_last_6mths:3-6,0.284198,1.545957e-02,True,inq_last_6mths,TrueTrueTrue,1
56,open_acc:1-3,-0.060743,7.209775e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
57,open_acc:4-12,-0.140919,3.971231e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
58,open_acc:13-17,-0.158935,3.404697e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
59,open_acc:18-22,-0.176317,2.931093e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
60,open_acc:23-25,-0.144976,3.999717e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
61,open_acc:26-30,-0.236456,1.812055e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
62,open_acc:>=31,-0.181891,3.407314e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0
63,pub_rec:3-4,0.013627,8.808555e-01,False,pub_rec,FalseFalse,0
64,pub_rec:>=5,0.044455,8.024164e-01,False,pub_rec,FalseFalse,0
65,total_acc:28-51,-0.038129,7.258610e-03,True,total_acc,TrueFalse,1
66,total_acc:>=52,-0.009125,8.170305e-01,False,total_acc,TrueFalse,1
67,acc_now_delinq:>=1,0.160869,1.226737e-01,False,acc_now_delinq,False,0
68,total_rev_hi_lim:5K-10K,0.022258,3.651490e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
69,total_rev_hi_lim:10K-20K,0.008220,7.304006e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
70,total_rev_hi_lim:20K-30K,0.010861,6.788832e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
71,total_rev_hi_lim:30K-40K,0.000499,9.864596e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
72,total_rev_hi_lim:40K-55K,0.054228,9.261820e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
73,total_rev_hi_lim:55K-95K,0.063685,7.709633e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
74,total_rev_hi_lim:>95K,0.193820,6.109648e-04,True,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1
75,annual_inc:20K-30K,-0.040143,3.455505e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
76,annual_inc:30K-40K,0.030165,4.624318e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
77,annual_inc:40K-50K,0.130544,1.497500e-03,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
78,annual_inc:50K-60K,0.186484,7.717825e-06,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
79,annual_inc:60K-70K,0.281100,4.807149e-11,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
80,annual_inc:70K-80K,0.340577,5.857247e-15,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
81,annual_inc:80K-90K,0.409074,2.232579e-19,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
82,annual_inc:90K-100K,0.453872,6.097368e-22,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
83,annual_inc:100K-120K,0.511325,8.726761e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
84,annual_inc:120K-140K,0.604206,4.817637e-30,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
85,annual_inc:>140K,0.540901,5.499465e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1
86,dti:<=1.4,0.263426,2.906226e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
87,dti:1.4-3.5,0.394951,1.284720e-07,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
88,dti:3.5-7.7,0.399859,8.229103e-10,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
89,dti:7.7-10.5,0.346175,8.212966e-08,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
90,dti:10.5-16.1,0.279396,7.912834e-06,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
91,dti:16.1-20.3,0.186654,2.825002e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
92,dti:20.3-21.7,0.183305,4.773954e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
93,dti:21.7-22.4,0.139002,4.317972e-02,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
94,dti:22.4-35,0.081807,1.852087e-01,False,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1
95,mths_since_last_delinq:Missing,0.060126,2.981791e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1
96,mths_since_last_delinq:4-30,0.130211,1.486968e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1
97,mths_since_last_delinq:31-56,0.129894,2.731511e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1
98,mths_since_last_delinq:>=57,0.096915,1.063449e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1
99,mths_since_last_record:Missing,0.377622,1.189522e-05,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1
100,mths_since_last_record:3-20,0.432079,5.890733e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1
101,mths_since_last_record:21-31,0.451689,1.169640e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1
102,mths_since_last_record:32-80,0.599295,3.356068e-11,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1
103,mths_since_last_record:81-86,0.290970,6.592830e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1
104,mths_since_last_record:>86,0.277866,1.775417e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1

In [35]:
# Group by 'Group' and count 'True' and 'False' in 'significant' column
grouped_counts = summary_tab.groupby(['Group', 'significant'])['Feature name'].count().unstack(fill_value=0)

# Rename columns for clarity
grouped_counts.columns = ['False_count', 'True_count']

# Reset the index to make 'Group' a regular column
grouped_counts = grouped_counts.reset_index()

In [40]:
grouped_counts

                          Group  groupcount
0                     Intercept           1
1                acc_now_delinq           1
2                    addr_state          13
3                    annual_inc          11
4                   delinq_2yrs           2
5                           dti           9
6                    emp_length           5
7                         grade           6
8                home_ownership           2
9           initial_list_status           1
10               inq_last_6mths           3
11                     int_rate           4
12  mths_since_earliest_cr_line           5
13           mths_since_issue_d           7
14       mths_since_last_delinq           4
15       mths_since_last_record           6
16                     open_acc           7
17                      pub_rec           2
18                      purpose           4
19                         term           1
20                    total_acc           2
21             total_rev_hi_lim           7
22          verification_status           2

In [41]:
summary_tab = summary_tab.merge(grouped_counts, left_on='Group', right_on='Group', how='left')
summary_tab

,Feature name,Coefficients,p_values,significant,Group,significant_y,trueornot,False_count,True_count,groupcount
0,Intercept,-1.407033,NaN,False,Intercept,False,0,1,0,1
1,grade:A,1.092946,7.785961e-33,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
2,grade:B,0.859978,9.170083e-45,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
3,grade:C,0.662230,2.132510e-31,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
4,grade:D,0.480972,5.205226e-19,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
5,grade:E,0.316397,5.820160e-11,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
6,grade:F,0.163005,1.231920e-03,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6
7,home_ownership:OWN,0.072225,3.171764e-04,True,home_ownership,TrueTrue,1,0,2,2
8,home_ownership:MORTGAGE,0.109199,8.724547e-18,True,home_ownership,TrueTrue,1,0,2,2
9,addr_state:NM_VA,0.051711,1.060834e-01,False,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
10,addr_state:NY,0.063183,9.079017e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
11,addr_state:OK_TN_MO_LA_MD_NC,0.069605,2.658804e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
12,addr_state:CA,0.077526,2.550490e-04,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
13,addr_state:UT_KY_AZ_NJ,0.079295,1.425325e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
14,addr_state:AR_MI_PA_OH_MN,0.148319,4.182869e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
15,addr_state:RI_MA_DE_SD_IN,0.120015,6.175449e-05,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
16,addr_state:GA_WA_OR,0.177974,1.977835e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
17,addr_state:WI_MT,0.271361,1.500441e-08,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
18,addr_state:TX,0.262823,7.205242e-24,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
19,addr_state:IL_CT,0.289540,5.981634e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
20,addr_state:KS_SC_CO_VT_AK_MS,0.343728,1.204758e-28,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
21,addr_state:WV_NH_WY_DC_ME_ID,0.524351,8.603594e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13
22,verification_status:Not Verified,0.087816,2.368430e-09,True,verification_status,TrueFalse,1,1,1,2
23,verification_status:Source Verified,-0.012334,3.597621e-01,False,verification_status,TrueFalse,1,1,1,2
24,purpose:credit_card,0.325583,2.745944e-30,True,purpose,TrueTrueTrueTrue,1,0,4,4
25,purpose:debt_consolidation,0.200626,1.728747e-14,True,purpose,TrueTrueTrueTrue,1,0,4,4
26,purpose:oth__med__vacation,0.220152,1.758552e-12,True,purpose,TrueTrueTrueTrue,1,0,4,4
27,purpose:major_purch__car__home_impr,0.288128,4.675274e-20,True,purpose,TrueTrueTrueTrue,1,0,4,4
28,initial_list_status:w,0.049765,1.381458e-04,True,initial_list_status,True,1,0,1,1
29,term:36,0.077112,5.515378e-08,True,term,True,1,0,1,1
30,emp_length:1,0.113625,1.210026e-05,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5
31,emp_length:2-4,0.137521,2.900340e-13,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5
32,emp_length:5-6,0.103203,1.387274e-06,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5
33,emp_length:7-9,0.073758,3.826367e-04,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5
34,emp_length:10,0.136064,1.388949e-13,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5
35,mths_since_issue_d:<38,1.110583,1.819210e-180,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
36,mths_since_issue_d:38-39,0.882459,4.915256e-143,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
37,mths_since_issue_d:40-41,0.802986,9.254598e-124,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
38,mths_since_issue_d:42-48,0.565144,6.699317e-79,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
39,mths_since_issue_d:49-52,0.420327,2.319816e-39,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
40,mths_since_issue_d:53-64,0.175714,5.640374e-09,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
41,mths_since_issue_d:65-84,-0.079543,6.706872e-03,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7
42,int_rate:<9.548,0.932349,9.911929e-34,True,int_rate,TrueTrueTrueTrue,1,0,4,4
43,int_rate:9.548-12.025,0.584876,9.782399e-39,True,int_rate,TrueTrueTrueTrue,1,0,4,4
44,int_rate:12.025-15.74,0.329796,4.209362e-19,True,int_rate,TrueTrueTrueTrue,1,0,4,4
45,int_rate:15.74-20.281,0.122598,2.568868e-05,True,int_rate,TrueTrueTrueTrue,1,0,4,4
46,mths_since_earliest_cr_line:141-164,0.062106,1.386538e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5
47,mths_since_earliest_cr_line:165-247,0.034865,9.158518e-02,False,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5
48,mths_since_earliest_cr_line:248-270,0.067153,1.234102e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5
49,mths_since_earliest_cr_line:271-352,0.116962,1.375655e-06,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5
50,mths_since_earliest_cr_line:>352,0.112108,3.699927e-05,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5
51,delinq_2yrs:0,0.084433,1.366463e-01,False,delinq_2yrs,FalseFalse,0,2,0,2
52,delinq_2yrs:1-3,0.059812,2.615922e-01,False,delinq_2yrs,FalseFalse,0,2,0,2
53,inq_last_6mths:0,0.623262,1.012934e-07,True,inq_last_6mths,TrueTrueTrue,1,0,3,3
54,inq_last_6mths:1-2,0.479721,4.054352e-05,True,inq_last_6mths,TrueTrueTrue,1,0,3,3
55,inq_last_6mths:3-6,0.284198,1.545957e-02,True,inq_last_6mths,TrueTrueTrue,1,0,3,3
56,open_acc:1-3,-0.060743,7.209775e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
57,open_acc:4-12,-0.140919,3.971231e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
58,open_acc:13-17,-0.158935,3.404697e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
59,open_acc:18-22,-0.176317,2.931093e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
60,open_acc:23-25,-0.144976,3.999717e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
61,open_acc:26-30,-0.236456,1.812055e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
62,open_acc:>=31,-0.181891,3.407314e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7
63,pub_rec:3-4,0.013627,8.808555e-01,False,pub_rec,FalseFalse,0,2,0,2
64,pub_rec:>=5,0.044455,8.024164e-01,False,pub_rec,FalseFalse,0,2,0,2
65,total_acc:28-51,-0.038129,7.258610e-03,True,total_acc,TrueFalse,1,1,1,2
66,total_acc:>=52,-0.009125,8.170305e-01,False,total_acc,TrueFalse,1,1,1,2
67,acc_now_delinq:>=1,0.160869,1.226737e-01,False,acc_now_delinq,False,0,1,0,1
68,total_rev_hi_lim:5K-10K,0.022258,3.651490e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
69,total_rev_hi_lim:10K-20K,0.008220,7.304006e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
70,total_rev_hi_lim:20K-30K,0.010861,6.788832e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
71,total_rev_hi_lim:30K-40K,0.000499,9.864596e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
72,total_rev_hi_lim:40K-55K,0.054228,9.261820e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
73,total_rev_hi_lim:55K-95K,0.063685,7.709633e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
74,total_rev_hi_lim:>95K,0.193820,6.109648e-04,True,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
75,annual_inc:20K-30K,-0.040143,3.455505e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
76,annual_inc:30K-40K,0.030165,4.624318e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
77,annual_inc:40K-50K,0.130544,1.497500e-03,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
78,annual_inc:50K-60K,0.186484,7.717825e-06,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
79,annual_inc:60K-70K,0.281100,4.807149e-11,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
80,annual_inc:70K-80K,0.340577,5.857247e-15,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
81,annual_inc:80K-90K,0.409074,2.232579e-19,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
82,annual_inc:90K-100K,0.453872,6.097368e-22,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
83,annual_inc:100K-120K,0.511325,8.726761e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
84,annual_inc:120K-140K,0.604206,4.817637e-30,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
85,annual_inc:>140K,0.540901,5.499465e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11
86,dti:<=1.4,0.263426,2.906226e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
87,dti:1.4-3.5,0.394951,1.284720e-07,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
88,dti:3.5-7.7,0.399859,8.229103e-10,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
89,dti:7.7-10.5,0.346175,8.212966e-08,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
90,dti:10.5-16.1,0.279396,7.912834e-06,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
91,dti:16.1-20.3,0.186654,2.825002e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
92,dti:20.3-21.7,0.183305,4.773954e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
93,dti:21.7-22.4,0.139002,4.317972e-02,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
94,dti:22.4-35,0.081807,1.852087e-01,False,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9
95,mths_since_last_delinq:Missing,0.060126,2.981791e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4
96,mths_since_last_delinq:4-30,0.130211,1.486968e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4
97,mths_since_last_delinq:31-56,0.129894,2.731511e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4
98,mths_since_last_delinq:>=57,0.096915,1.063449e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4
99,mths_since_last_record:Missing,0.377622,1.189522e-05,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6
100,mths_since_last_record:3-20,0.432079,5.890733e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6
101,mths_since_last_record:21-31,0.451689,1.169640e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6
102,mths_since_last_record:32-80,0.599295,3.356068e-11,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6
103,mths_since_last_record:81-86,0.290970,6.592830e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6
104,mths_since_last_record:>86,0.277866,1.775417e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6

In [37]:
grouped_counts = summary_tab.groupby('Group')['Feature name'].count()
# Rename columns for clarity
grouped_counts.columns = ['groupcount']
# Reset the index to make 'Group' a regular column
grouped_counts = grouped_counts.reset_index()
grouped_counts.rename(columns={'Feature name':'groupcount'}, inplace = True)
grouped_counts

                          Group  groupcount
0                     Intercept           1
1                acc_now_delinq           1
2                    addr_state          13
3                    annual_inc          11
4                   delinq_2yrs           2
5                           dti           9
6                    emp_length           5
7                         grade           6
8                home_ownership           2
9           initial_list_status           1
10               inq_last_6mths           3
11                     int_rate           4
12  mths_since_earliest_cr_line           5
13           mths_since_issue_d           7
14       mths_since_last_delinq           4
15       mths_since_last_record           6
16                     open_acc           7
17                      pub_rec           2
18                      purpose           4
19                         term           1
20                    total_acc           2
21             total_rev_hi_lim           7
22          verification_status           2

In [ ]:
summary_tab = summary_tab.merge(grouped_counts, left_on='Group', right_on='Group', how='left')
summary_tab

In [42]:
summary_tab.columns

Index(['Feature name', 'Coefficients', 'p_values', 'significant', 'Group',
       'significant_y', 'trueornot', 'False_count', 'True_count',
       'groupcount'],
      dtype='object')

In [46]:
summary_tab[summary_tab['Group']=='total_rev_hi_lim']

,Feature name,Coefficients,p_values,significant,Group,significant_y,trueornot,False_count,True_count,groupcount
68,total_rev_hi_lim:5K-10K,0.022258,0.365149,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
69,total_rev_hi_lim:10K-20K,0.008220,0.730401,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
70,total_rev_hi_lim:20K-30K,0.010861,0.678883,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
71,total_rev_hi_lim:30K-40K,0.000499,0.986460,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
72,total_rev_hi_lim:40K-55K,0.054228,0.092618,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
73,total_rev_hi_lim:55K-95K,0.063685,0.077096,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7
74,total_rev_hi_lim:>95K,0.193820,0.000611,True,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7

In [50]:
summary_tab['selectioncriteria'] = np.where(round(summary_tab['True_count']/summary_tab['groupcount'], 2) < 0.2, 0, 1)
summary_tab

,Feature name,Coefficients,p_values,significant,Group,significant_y,trueornot,False_count,True_count,groupcount,selectioncriteria
0,Intercept,-1.407033,NaN,False,Intercept,False,0,1,0,1,0
1,grade:A,1.092946,7.785961e-33,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
2,grade:B,0.859978,9.170083e-45,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
3,grade:C,0.662230,2.132510e-31,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
4,grade:D,0.480972,5.205226e-19,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
5,grade:E,0.316397,5.820160e-11,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
6,grade:F,0.163005,1.231920e-03,True,grade,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
7,home_ownership:OWN,0.072225,3.171764e-04,True,home_ownership,TrueTrue,1,0,2,2,1
8,home_ownership:MORTGAGE,0.109199,8.724547e-18,True,home_ownership,TrueTrue,1,0,2,2,1
9,addr_state:NM_VA,0.051711,1.060834e-01,False,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
10,addr_state:NY,0.063183,9.079017e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
11,addr_state:OK_TN_MO_LA_MD_NC,0.069605,2.658804e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
12,addr_state:CA,0.077526,2.550490e-04,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
13,addr_state:UT_KY_AZ_NJ,0.079295,1.425325e-03,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
14,addr_state:AR_MI_PA_OH_MN,0.148319,4.182869e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
15,addr_state:RI_MA_DE_SD_IN,0.120015,6.175449e-05,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
16,addr_state:GA_WA_OR,0.177974,1.977835e-11,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
17,addr_state:WI_MT,0.271361,1.500441e-08,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
18,addr_state:TX,0.262823,7.205242e-24,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
19,addr_state:IL_CT,0.289540,5.981634e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
20,addr_state:KS_SC_CO_VT_AK_MS,0.343728,1.204758e-28,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
21,addr_state:WV_NH_WY_DC_ME_ID,0.524351,8.603594e-23,True,addr_state,FalseTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueT...,1,1,12,13,1
22,verification_status:Not Verified,0.087816,2.368430e-09,True,verification_status,TrueFalse,1,1,1,2,1
23,verification_status:Source Verified,-0.012334,3.597621e-01,False,verification_status,TrueFalse,1,1,1,2,1
24,purpose:credit_card,0.325583,2.745944e-30,True,purpose,TrueTrueTrueTrue,1,0,4,4,1
25,purpose:debt_consolidation,0.200626,1.728747e-14,True,purpose,TrueTrueTrueTrue,1,0,4,4,1
26,purpose:oth__med__vacation,0.220152,1.758552e-12,True,purpose,TrueTrueTrueTrue,1,0,4,4,1
27,purpose:major_purch__car__home_impr,0.288128,4.675274e-20,True,purpose,TrueTrueTrueTrue,1,0,4,4,1
28,initial_list_status:w,0.049765,1.381458e-04,True,initial_list_status,True,1,0,1,1,1
29,term:36,0.077112,5.515378e-08,True,term,True,1,0,1,1,1
30,emp_length:1,0.113625,1.210026e-05,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5,1
31,emp_length:2-4,0.137521,2.900340e-13,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5,1
32,emp_length:5-6,0.103203,1.387274e-06,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5,1
33,emp_length:7-9,0.073758,3.826367e-04,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5,1
34,emp_length:10,0.136064,1.388949e-13,True,emp_length,TrueTrueTrueTrueTrue,1,0,5,5,1
35,mths_since_issue_d:<38,1.110583,1.819210e-180,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
36,mths_since_issue_d:38-39,0.882459,4.915256e-143,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
37,mths_since_issue_d:40-41,0.802986,9.254598e-124,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
38,mths_since_issue_d:42-48,0.565144,6.699317e-79,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
39,mths_since_issue_d:49-52,0.420327,2.319816e-39,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
40,mths_since_issue_d:53-64,0.175714,5.640374e-09,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
41,mths_since_issue_d:65-84,-0.079543,6.706872e-03,True,mths_since_issue_d,TrueTrueTrueTrueTrueTrueTrue,1,0,7,7,1
42,int_rate:<9.548,0.932349,9.911929e-34,True,int_rate,TrueTrueTrueTrue,1,0,4,4,1
43,int_rate:9.548-12.025,0.584876,9.782399e-39,True,int_rate,TrueTrueTrueTrue,1,0,4,4,1
44,int_rate:12.025-15.74,0.329796,4.209362e-19,True,int_rate,TrueTrueTrueTrue,1,0,4,4,1
45,int_rate:15.74-20.281,0.122598,2.568868e-05,True,int_rate,TrueTrueTrueTrue,1,0,4,4,1
46,mths_since_earliest_cr_line:141-164,0.062106,1.386538e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5,1
47,mths_since_earliest_cr_line:165-247,0.034865,9.158518e-02,False,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5,1
48,mths_since_earliest_cr_line:248-270,0.067153,1.234102e-02,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5,1
49,mths_since_earliest_cr_line:271-352,0.116962,1.375655e-06,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5,1
50,mths_since_earliest_cr_line:>352,0.112108,3.699927e-05,True,mths_since_earliest_cr_line,TrueFalseTrueTrueTrue,1,1,4,5,1
51,delinq_2yrs:0,0.084433,1.366463e-01,False,delinq_2yrs,FalseFalse,0,2,0,2,0
52,delinq_2yrs:1-3,0.059812,2.615922e-01,False,delinq_2yrs,FalseFalse,0,2,0,2,0
53,inq_last_6mths:0,0.623262,1.012934e-07,True,inq_last_6mths,TrueTrueTrue,1,0,3,3,1
54,inq_last_6mths:1-2,0.479721,4.054352e-05,True,inq_last_6mths,TrueTrueTrue,1,0,3,3,1
55,inq_last_6mths:3-6,0.284198,1.545957e-02,True,inq_last_6mths,TrueTrueTrue,1,0,3,3,1
56,open_acc:1-3,-0.060743,7.209775e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
57,open_acc:4-12,-0.140919,3.971231e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
58,open_acc:13-17,-0.158935,3.404697e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
59,open_acc:18-22,-0.176317,2.931093e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
60,open_acc:23-25,-0.144976,3.999717e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
61,open_acc:26-30,-0.236456,1.812055e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
62,open_acc:>=31,-0.181891,3.407314e-01,False,open_acc,FalseFalseFalseFalseFalseFalseFalse,0,7,0,7,0
63,pub_rec:3-4,0.013627,8.808555e-01,False,pub_rec,FalseFalse,0,2,0,2,0
64,pub_rec:>=5,0.044455,8.024164e-01,False,pub_rec,FalseFalse,0,2,0,2,0
65,total_acc:28-51,-0.038129,7.258610e-03,True,total_acc,TrueFalse,1,1,1,2,1
66,total_acc:>=52,-0.009125,8.170305e-01,False,total_acc,TrueFalse,1,1,1,2,1
67,acc_now_delinq:>=1,0.160869,1.226737e-01,False,acc_now_delinq,False,0,1,0,1,0
68,total_rev_hi_lim:5K-10K,0.022258,3.651490e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
69,total_rev_hi_lim:10K-20K,0.008220,7.304006e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
70,total_rev_hi_lim:20K-30K,0.010861,6.788832e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
71,total_rev_hi_lim:30K-40K,0.000499,9.864596e-01,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
72,total_rev_hi_lim:40K-55K,0.054228,9.261820e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
73,total_rev_hi_lim:55K-95K,0.063685,7.709633e-02,False,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
74,total_rev_hi_lim:>95K,0.193820,6.109648e-04,True,total_rev_hi_lim,FalseFalseFalseFalseFalseFalseTrue,1,6,1,7,0
75,annual_inc:20K-30K,-0.040143,3.455505e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
76,annual_inc:30K-40K,0.030165,4.624318e-01,False,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
77,annual_inc:40K-50K,0.130544,1.497500e-03,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
78,annual_inc:50K-60K,0.186484,7.717825e-06,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
79,annual_inc:60K-70K,0.281100,4.807149e-11,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
80,annual_inc:70K-80K,0.340577,5.857247e-15,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
81,annual_inc:80K-90K,0.409074,2.232579e-19,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
82,annual_inc:90K-100K,0.453872,6.097368e-22,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
83,annual_inc:100K-120K,0.511325,8.726761e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
84,annual_inc:120K-140K,0.604206,4.817637e-30,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
85,annual_inc:>140K,0.540901,5.499465e-28,True,annual_inc,FalseFalseTrueTrueTrueTrueTrueTrueTrueTrueTrue,1,2,9,11,1
86,dti:<=1.4,0.263426,2.906226e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
87,dti:1.4-3.5,0.394951,1.284720e-07,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
88,dti:3.5-7.7,0.399859,8.229103e-10,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
89,dti:7.7-10.5,0.346175,8.212966e-08,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
90,dti:10.5-16.1,0.279396,7.912834e-06,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
91,dti:16.1-20.3,0.186654,2.825002e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
92,dti:20.3-21.7,0.183305,4.773954e-03,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
93,dti:21.7-22.4,0.139002,4.317972e-02,True,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
94,dti:22.4-35,0.081807,1.852087e-01,False,dti,TrueTrueTrueTrueTrueTrueTrueTrueFalse,1,1,8,9,1
95,mths_since_last_delinq:Missing,0.060126,2.981791e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4,1
96,mths_since_last_delinq:4-30,0.130211,1.486968e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4,1
97,mths_since_last_delinq:31-56,0.129894,2.731511e-02,True,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4,1
98,mths_since_last_delinq:>=57,0.096915,1.063449e-01,False,mths_since_last_delinq,FalseTrueTrueFalse,1,2,2,4,1
99,mths_since_last_record:Missing,0.377622,1.189522e-05,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
100,mths_since_last_record:3-20,0.432079,5.890733e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
101,mths_since_last_record:21-31,0.451689,1.169640e-04,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
102,mths_since_last_record:32-80,0.599295,3.356068e-11,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
103,mths_since_last_record:81-86,0.290970,6.592830e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1
104,mths_since_last_record:>86,0.277866,1.775417e-03,True,mths_since_last_record,TrueTrueTrueTrueTrueTrue,1,0,6,6,1

In [56]:
print("The total rows in summary_tab table is:\t",len(summary_tab))
print("The total rows in summary_tab table where the selectioncriteria is 1:\t", len(summary_tab[summary_tab['selectioncriteria'] == 1]))
print("The total rows in summary_tab table where the selectioncriteria is 0:\t", len(summary_tab[summary_tab['selectioncriteria'] == 0]))

The total rows in summary_tab table is:	 105
The total rows in summary_tab table where the selectioncriteria is 1:	 85
The total rows in summary_tab table where the selectioncriteria is 0:	 20

In [57]:
print("The columns to exclude after first iterations are:\t",summary_tab['Feature name'][summary_tab['selectioncriteria'] == 0].unique())

The columns to exclude after first iterations are:	 ['Intercept' 'delinq_2yrs:0' 'delinq_2yrs:1-3' 'open_acc:1-3'
 'open_acc:4-12' 'open_acc:13-17' 'open_acc:18-22' 'open_acc:23-25'
 'open_acc:26-30' 'open_acc:>=31' 'pub_rec:3-4' 'pub_rec:>=5'
 'acc_now_delinq:>=1' 'total_rev_hi_lim:5K-10K' 'total_rev_hi_lim:10K-20K'
 'total_rev_hi_lim:20K-30K' 'total_rev_hi_lim:30K-40K'
 'total_rev_hi_lim:40K-55K' 'total_rev_hi_lim:55K-95K'
 'total_rev_hi_lim:>95K']

In [58]:
print("The columns to include after first iterations are:\t",summary_tab['Feature name'][summary_tab['selectioncriteria'] == 1].unique())

The columns to include after first iterations are:	 ['grade:A' 'grade:B' 'grade:C' 'grade:D' 'grade:E' 'grade:F'
 'home_ownership:OWN' 'home_ownership:MORTGAGE' 'addr_state:NM_VA'
 'addr_state:NY' 'addr_state:OK_TN_MO_LA_MD_NC' 'addr_state:CA'
 'addr_state:UT_KY_AZ_NJ' 'addr_state:AR_MI_PA_OH_MN'
 'addr_state:RI_MA_DE_SD_IN' 'addr_state:GA_WA_OR' 'addr_state:WI_MT'
 'addr_state:TX' 'addr_state:IL_CT' 'addr_state:KS_SC_CO_VT_AK_MS'
 'addr_state:WV_NH_WY_DC_ME_ID' 'verification_status:Not Verified'
 'verification_status:Source Verified' 'purpose:credit_card'
 'purpose:debt_consolidation' 'purpose:oth__med__vacation'
 'purpose:major_purch__car__home_impr' 'initial_list_status:w' 'term:36'
 'emp_length:1' 'emp_length:2-4' 'emp_length:5-6' 'emp_length:7-9'
 'emp_length:10' 'mths_since_issue_d:<38' 'mths_since_issue_d:38-39'
 'mths_since_issue_d:40-41' 'mths_since_issue_d:42-48'
 'mths_since_issue_d:49-52' 'mths_since_issue_d:53-64'
 'mths_since_issue_d:65-84' 'int_rate:<9.548' 'int_rate:9.548-12.025'
 'int_rate:12.025-15.74' 'int_rate:15.74-20.281'
 'mths_since_earliest_cr_line:141-164'
 'mths_since_earliest_cr_line:165-247'
 'mths_since_earliest_cr_line:248-270'
 'mths_since_earliest_cr_line:271-352' 'mths_since_earliest_cr_line:>352'
 'inq_last_6mths:0' 'inq_last_6mths:1-2' 'inq_last_6mths:3-6'
 'total_acc:28-51' 'total_acc:>=52' 'annual_inc:20K-30K'
 'annual_inc:30K-40K' 'annual_inc:40K-50K' 'annual_inc:50K-60K'
 'annual_inc:60K-70K' 'annual_inc:70K-80K' 'annual_inc:80K-90K'
 'annual_inc:90K-100K' 'annual_inc:100K-120K' 'annual_inc:120K-140K'
 'annual_inc:>140K' 'dti:<=1.4' 'dti:1.4-3.5' 'dti:3.5-7.7' 'dti:7.7-10.5'
 'dti:10.5-16.1' 'dti:16.1-20.3' 'dti:20.3-21.7' 'dti:21.7-22.4'
 'dti:22.4-35' 'mths_since_last_delinq:Missing'
 'mths_since_last_delinq:4-30' 'mths_since_last_delinq:31-56'
 'mths_since_last_delinq:>=57' 'mths_since_last_record:Missing'
 'mths_since_last_record:3-20' 'mths_since_last_record:21-31'
 'mths_since_last_record:32-80' 'mths_since_last_record:81-86'
 'mths_since_last_record:>86']

In [59]:
print("The Group to exclude after first iterations are:\t",summary_tab['Group'][summary_tab['selectioncriteria'] == 0].unique())
print("The Group to include after first iterations are:\t",summary_tab['Group'][summary_tab['selectioncriteria'] == 1].unique())

The Group to exclude after first iterations are:	 ['Intercept' 'delinq_2yrs' 'open_acc' 'pub_rec' 'acc_now_delinq'
 'total_rev_hi_lim']
The Group to include after first iterations are:	 ['grade' 'home_ownership' 'addr_state' 'verification_status' 'purpose'
 'initial_list_status' 'term' 'emp_length' 'mths_since_issue_d' 'int_rate'
 'mths_since_earliest_cr_line' 'inq_last_6mths' 'total_acc' 'annual_inc'
 'dti' 'mths_since_last_delinq' 'mths_since_last_record']

In [ ]:
summary_table.to_excel("Summary_logisticregressionwithpvalue.xlsx")

In [60]:
summary_tab.to_excel("Summary_logisticregressionwithpvalueandselectioncriteriadefined.xlsx", index = False)